.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 80px;
    margin: auto;
}

.order-container {
    background-color: #d1d4d6af;
    border-radius: 5px;
    padding: 30px;
}

.Order-title {
    text-align: center;
    font-weight: 400;
    font-size: 25px;
}

.selected-item {
    font-weight: 400;
    font-size: 17px;
    color: #2A414F;
    margin-left: 30px;
    margin-top: 20px;
}

.shopping-title {
    text-align: center;
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 600;
    color: lightsalmon;
    line-height: 20px;
}

.choose-watch {
    text-align: center;
    margin-top: 0px;
    font-size: 50px;
    margin-bottom: 80px;
    font-weight: 400;
}

.question {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    text-align: center;
}

.question-one {
   border: 4px solid #ffa07a;
   margin-right: 20px;
   border-radius: 10px;
}

.question-two {
    border: 4px solid lightsalmon;
    border-radius: 10px;
 }
 

/* media query response */
@media screen and (max-width: 576px) {
    .shop-container {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .products-container {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
        width: 100%;
        margin: auto;
    }

    .order-container {
        margin-top: 50px;
    }
}